{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

 {% block stylesheets %}
     {{ parent() }}
     {{ encore_entry_link_tags('login') }}
 {% endblock %}

{% block body %}

    <div class="container-login">
        <div class="login-left">
            <div class="login-header">
                <h1>Bienvenue sur notre Application</h1>
                <p>Connectez-vous pour accéder au site</p>
                {% if error %}
                    <div class="error-message">{{ error.messageKey|trans(error.messageData, 'security', 'fr') }}</div>
                {% endif %}
                {{ form_start(form, {'attr': {'class': 'login-form'}}) }}
                <div class="login-form-content">
                    <div class="form-item">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                    </div>
                    <div class="form-item">
                        {{ form_label(form.password) }}
                        {{ form_widget(form.password) }}
                    </div>
                    <div class="form-item">
                        <div class="checkbox">
                            {{ form_label(form._remember_me, {'label_attr': {'class': 'checkboxLabel'}}) }}
                            {{ form_widget(form._remember_me) }}
                        </div>
                    </div>
                    <button type="submit">Connectez-vous</button>
                    <span>Pas encore inscrit ? Inscris-toi <a href="{{ path('app_register') }}">ici</a></span>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="login-right">
            <img src="{{ asset('build/images/login.png') }}" alt="">
        </div>
    </div>
    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('login') }}
    {% endblock %}
{% endblock %}
